---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy:
    allowed-values: ['yes', 'no', 'true', 'false']
    check-keys: true

skip_list:  # or 'skip_list' to silence them completely
  - experimental  # all rules tagged as experimental
  - fqcn-builtins  # Use FQCN for builtin actions.
  - meta-incorrect  # meta/main.yml default values should be changed.
  - meta-no-info  # meta/main.yml should contain relevant info.
